body {
	background-color: #2653ac;
	margin: 0px;
	font-family: "Times New Roman", serif;
}

main {
	margin: 20px;
}

.titre {
	font-family: "Rockwell Extra Bold", serif;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 4px #6186c1;
}

.navbar {
	overflow: hidden;
	background-color: #6186c1;
	border-radius: 7px;
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	float: left; /* barre de navigation horizontale */
}

.navbar a {
	font-family: "Rockwell", serif;
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}

.navbar a:hover {
	font-family: "Rockwell Extra Bold", serif;
	border-radius: 7px;
	background-color: #3192D1; /* couleur lorsque la souris passe sur les éléments */
}

.page_actuel {
	background-color: #a2b9d6;
	border-radius: 7px;
}

.conseil_texte {
	color:#2653ac;
	padding: 16px;
	margin-left:300px;
	margin-right:300px;
	font-size:large;
	background-color: #ffffff; /* Couleur de fond de la boîte */
	border: 2px solid #6186c1; /* Bordure de la boîte */
	border-radius: 10px; /* Coins arrondis */
	margin: 20px auto; /* Marges */
	max-width: 600px; /* Largeur maximale de la boîte */
}

input {
	border: none;
	border-radius: 4px;
	box-shadow: 1px 1px 1px 1px black;
	background-color: #a2b9d6;
}

[for="password"] {
	word-spacing: 5px;
}

:hover[type="submit"] {
	background-color: #3192D1;
}

fieldset {
	font-family: "Rockwell", serif;
	color: white;
	text-align: center;
	padding: 40px;
	float: left;
	margin-left: 740px;
	border-radius: 7px;
	box-shadow: 5px 6px 10px 6px black;
}

.box {
	background-color: #fff; /* Couleur de fond de la boîte */
	border: 2px solid #6186c1; /* Bordure de la boîte */
	border-radius: 10px; /* Coins arrondis */
	padding: 20px; /* Espace intérieur */
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Ombre de la boîte */
	margin: 20px auto; /* Marges */
	max-width: 600px; /* Largeur maximale de la boîte */
}
